/* Font Face */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300 700;
  src: local("Comfortaa"), url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.woff") format("wooff"),
    url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Regular.woff") format("wooff"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
