/* Start Import Fonts */
/* Comfortaa */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
/* Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* End Import Fonts */

/* CSS variables  */
:root {
  /* --dm-red: #FF5E2B; */
  --dm-red: #db0a5b;
  --dm-blue: #7a4aec;
  scroll-behavior: smooth;
}

/* Target blank icon */
/* Inspired by: "https://codepen.io/thiagobraga/pen/bhDdn" */
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
body {
  animation-duration: 2s;
  background-color: #dadef7;
}

/* Navigation start */
.branding {
  color: var(--dm-red) !important;
  font-family: "Comfortaa";
  font-size: 20px;
}
.branding:hover {
  color: var(--dm-blue);
}
.navigation-item {
  color: var(--dm-blue);
  font-family: "Ubuntu";
  font-size: 20px;
}
.navigation-item:hover {
  color: var(--dm-red);
  transition: 0.5s;
  border-bottom: 1px solid var(--dm-blue);
}
.nav-link.active {
  color: var(--dm-red);
}
/* Navigation end */

.title-text {
  font-family: Comfortaa;
  font-size: 22px;
  font-weight: 400;
  color: black;
}
.site-title {
  font-family: Ubuntu;
  font-weight: 700;
  color: var(--dm-red);
  font-size: 40px;
}
.site-slogan {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  /* color: #000000; */
  color: red;
  font-weight: 700;
}
.secondary-color {
  color: var(--dm-red);
}

.main-container {
  height: 420px;
  background: url("/img/undraw_programming_2svr.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sub-title {
  font-family: Comfortaa;
  font-size: 22px;
  color: var(--dm-blue);
  font-weight: 400;
}
.container p {
  font-family: Roboto, sans-serif;
  font-size: 19px;
}
ul li {
  font-size: 19px;
}
.skillset {
  font-family: Roboto;
  font-size: 17px;
}

/* Contact Me start  */

.social-media {
  color: var(--dm-blue);
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  /* border: #034a4a 1px solid; */
}
.social-media a {
  text-decoration: none;
  color: var(--dm-blue);
}
.fa {
  color: var(--dm-red);
}
.contact-form-header {
  font-family: Comfortaa;
  color: var(--dm-blue);
}
.btn-form-submit {
  background-color: var(--dm-red);
  border-color: var(--dm-red);
  color: white;
  width: 68%;
}
.btn-form-submit:hover {
  color: white;
  background-color: var(--dm-blue);
  border-color: var(--dm-blue);
}
/* Start Form Validation  */
/* This class is added by JS ipon invalid input */
input.invalid {
  border-color: red;
}

/* End Form Validation  */
/* Contact Me End  */
footer p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
}
/* Footer End  */

/* Media Queries */
@media (min-width: 720px) {
  /* I developed this site mobile-first */
  .site-title {
    font-size: 60px;
  }
  .title-text {
    font-size: 28px;
  }
  .sub-title {
    font-size: 30;
  }
}

/* 
  image height: 484px
  image width: 583px
   */
