:root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.color-black {
  color: #1e212b;
}

.color-red {
  color: #fd3e67;
}

.color-blue {
  color: #fd3e67;
}

.color-white {
  color: white;
}

.background-black {
  background-color: #1e212b;
}

.background-grey {
  background-color: #c3d2d5;
}

body {
  color: #1e212b;
  font-family: "poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c3d2d5;
}

nav .branding {
  color: #fd3e67;
}

main .hero-area-container {
  min-height: 75vh;
  background-color: #1e212b;
}
main .hero-area-container .hero-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: inherit;
  justify-content: space-around;
  align-items: flex-start;
  border: #ffe74c 2px solid;
}
main .hero-area-container .hero-area .greetings {
  color: white;
  text-transform: uppercase;
  border: white 1px solid;
}
main .hero-area-container .hero-area .hero-text {
  color: #ffe74c;
  text-transform: uppercase;
  font-family: Comfortaa, sans-serif;
  font-weight: lighter;
  font-size: 21px;
  border: white 1px solid;
}
main .hero-area-container .hero-area .about-me-summary {
  font-family: Ubuntu, serif;
  font-size: 12px;
  border: white 1px solid;
}

.fadeblacktogrey {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #1e212b;
  background: linear-gradient(180deg, #1e212b 0%, #1e212b 26%, #c3d2d5 100%);
}

.fadegreytoblack {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #c3d2d5;
  background: linear-gradient(180deg, #c3d2d5 0%, #c3d2d5 27%, #1e212b 74%);
}

.section-title {
  margin-top: 2rem;
  color: #fd3e67;
  font-family: Comfortaa, serif;
  font-size: 25px;
}

.section-sub-title {
  color: #645dd7;
  font-size: 1rem;
}

#skills .cards-container {
  display: flex;
}
#skills .cards-container .card {
  height: 94px;
  width: 87px;
  display: flex;
  padding: 0;
  border: 0.5px solid #ffe74c;
}
#skills .cards-container .card img {
  max-height: 68px;
  max-width: 60px;
}
#skills .ml-skills-container {
  display: flex;
  flex-direction: column;
}
#skills .ml-skills-container .card {
  max-width: 255px;
  width: 255px;
  max-height: 94px;
  height: 94px;
  border: #ffe74c 1px solid;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1rem;
}
#skills .ml-skills-container .card .card-body {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#skills .ml-skills-container .card .card-body p {
  margin: 0;
  color: #645dd7;
  font-family: Comfortaa, serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
#skills .ml-skills-container .card .card-body .muted-text {
  font-family: Poppins, serif;
  font-size: 0.8rem;
  font-weight: lighter;
  color: grey;
  text-transform: none;
}
#skills .ml-skills-container .card:nth-child(odd) {
  align-self: flex-end;
}
#skills .ml-skills-container .card:nth-child(odd) .card-body {
  text-align: right;
  align-items: flex-end;
}
#skills .more-skills {
  font-family: Poppins, serif;
  font-size: 0.7rem;
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
