/* Start Import Fonts */
/* Font - Comfortaa */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
/* Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap");
/* End Import Fonts */
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1E212B;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c3d2d5;
  animation-duration: 2s;
}

/* Target blank icon */
/* Inspired by: "https://codepen.io/thiagobraga/pen/bhDdn" */
a[target=_blank]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.color-black {
  color: #1E212B;
}

.color-red {
  color: #fd3e67;
}

.color-blue {
  color: #645dd7;
}

.color-white {
  color: white;
}

.background-black {
  background-color: #1E212B;
}

.background-grey {
  background-color: #c3d2d5;
}

nav {
  justify-content: space-between;
}
nav a {
  color: #fd3e67;
  font-size: 1rem;
}

a :not(.btn) {
  color: #fd3e67;
}

a.active {
  color: #ffe74c;
}

main .hero-area-container {
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
}
main .hero-area-container .hero-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: inherit;
  justify-content: space-around;
  align-items: flex-start;
}
main .hero-area-container .hero-area .greetings {
  color: white;
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 1.5rem;
}
main .hero-area-container .hero-area .hero-text {
  color: #ffe74c;
  text-transform: uppercase;
  font-family: Comfortaa, sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
main .hero-area-container .hero-area .about-me-summary {
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.fadeblacktogrey {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #1e212b;
  background: linear-gradient(180deg, #1e212b 0%, #1e212b 26%, #c3d2d5 100%);
}

.fadegreytoblack {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #c3d2d5;
  background: linear-gradient(180deg, #c3d2d5 0%, #c3d2d5 27%, #1e212b 74%);
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fd3e67;
  font-family: Comfortaa, serif;
  font-size: 25px;
  font-weight: bold;
}

.section-sub-title {
  color: #645dd7;
  font-size: 1rem;
}

#skills .cards-container {
  display: flex;
}
#skills .cards-container .card {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  border: 0.5px solid #ffe74c;
  margin-bottom: 1rem;
  border-radius: 2vh;
}
#skills .cards-container .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#skills .cards-container .card .card-body img {
  max-height: 68px;
  max-width: 60px;
}
#skills .ml-skills-container .card {
  height: 120px;
  border: #ffe74c 1px solid;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1rem;
}
#skills .ml-skills-container .card .card-body {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#skills .ml-skills-container .card .card-body p {
  margin: 0;
  color: #645dd7;
  font-family: Comfortaa, serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
#skills .ml-skills-container .card .card-body .muted-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #1E212B;
  font-weight: normal;
  text-transform: none;
}
#skills .more-skills {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #1E212B;
}

section#projects {
  border: 0.1px solid #1E212B;
}

#projects .card {
  margin-bottom: 3rem;
}
#projects .space-equally-vertically {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#projects .card-title {
  color: #fd3e67;
  font-family: Comfortaa, serif;
  font-weight: bold;
}

#contact .form-container {
  border: 1px solid #ffe74c;
  border-radius: 21px;
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
#contact .form-container ::placeholder {
  color: #645dd7;
}
#contact .form-container input,
#contact .form-container select,
#contact .form-container textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #645dd7;
  /* Form Validation  */
  /* This class is added by JS upon invalid input */
}
#contact .form-container input .invalid,
#contact .form-container select .invalid,
#contact .form-container textarea .invalid {
  border-color: red;
}
#contact .form-container textarea {
  border-bottom: 2px solid #645dd7;
}
#contact .form-container button[type=submit] {
  background-color: #645dd7;
  border-color: #645dd7;
  width: 70%;
  margin-top: 2rem;
}

.socials-container {
  display: flex;
  background-color: #c3d2d5;
}
.socials-container .col {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.socials-container .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 33px;
  padding: 8px;
  width: 28px;
  height: 25px;
  margin-bottom: 2rem;
}
.socials-container .social-container img {
  width: 15px;
  height: 11px;
}

.text-small {
  font-size: 1rem;
}

footer {
  font-family: Poppins, serif;
}
footer .socials-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25px;
  background-color: unset;
}

@media only screen and (min-width: 768px) {
  .hero-area-container {
    background-image: url("../img/undraw_Maintenance_re_59vn.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 70vh;
    max-width: 720px;
  }

  .hero-text {
    font-weight: bold;
    font-size: 4rem;
  }

  .greetings {
    font-size: 2rem;
  }

  .about-me-summary {
    font-size: 18px;
    width: 65%;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area-container {
    max-width: 960px;
  }

  #contact .form-container {
    width: 50%;
  }
  #contact .socials-container {
    width: 50%;
  }
  #contact .container:first-child {
    background-image: url("../img/undraw_delivery_address_03n0.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area-container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area-container {
    max-width: 1320px;
  }
}

/*# sourceMappingURL=style.css.map */
