/* Start Import Fonts */
/* Font - Comfortaa */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
/* Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap");
/* End Import Fonts */
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-primary {
  background-color: #645dd7;
}

a,
a:active,
a:visited {
  color: #645dd7;
}

a:hover {
  color: #fd3e67;
}

body {
  color: #1e212b;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #c3d2d5;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* Target blank icon */
/* Inspired by: "https://codepen.io/thiagobraga/pen/bhDdn" */
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.color-black {
  color: #1e212b;
}

.color-red {
  color: #fd3e67;
}

.color-blue {
  color: #645dd7;
}

.color-white {
  color: white;
}

.background-black {
  background-color: #1e212b;
}

.background-grey {
  background-color: #c3d2d5;
}

nav a,
nav a:hover {
  color: #fd3e67;
  position: relative;
}

nav a.active,
nav a.active:hover {
  color: #ffe74c;
}

nav a::after {
  content: "";
  background-color: #645dd7;
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 2px;
  width: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

nav a:hover::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 1;
}

nav .navbar-toggler:focus {
  outline: none;
}

a :not(.btn) {
  color: #fd3e67;
}

main .hero-area-container {
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
}

main .hero-area-container .hero-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-height: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .hero-area-container .hero-area .greetings {
  color: white;
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 1.2rem;
}

main .hero-area-container .hero-area .hero-text {
  color: #ffe74c;
  text-transform: uppercase;
  font-family: Comfortaa, sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

main .hero-area-container .hero-area .about-me-summary {
  font-family: Poppins, sans-serif;
}

.fadeblacktogrey {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #1e212b;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e212b), color-stop(26%, #1e212b), to(#c3d2d5));
  background: linear-gradient(180deg, #1e212b 0%, #1e212b 26%, #c3d2d5 100%);
}

.fadegreytoblack {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #c3d2d5;
  background: -webkit-gradient(linear, left top, left bottom, from(#c3d2d5), color-stop(27%, #c3d2d5), color-stop(74%, #1e212b));
  background: linear-gradient(180deg, #c3d2d5 0%, #c3d2d5 27%, #1e212b 74%);
}

.section-title {
  margin: 2rem 0;
  color: #fd3e67;
  font-family: Comfortaa, serif;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.section-title:after {
  content: "";
  background-color: #fd3e67;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  border-radius: 5px;
  width: 60px;
  border-bottom: 4px solid;
}

.section-sub-title {
  color: #645dd7;
}

#stack .card {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  border: 0.5px solid #ffe74c;
  margin-bottom: 1rem;
  border-radius: 10px;
}

#stack .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#stack .ml-skills-container .card {
  height: 120px;
  border: #ffe74c 1px solid;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#stack .ml-skills-container .card .card-body {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stack .ml-skills-container .card .card-body p {
  margin: 0;
  color: #645dd7;
  font-family: Comfortaa, serif;
  font-weight: bold;
  text-transform: uppercase;
}

#stack .ml-skills-container .card .card-body .muted-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #1e212b;
  font-weight: normal;
  text-transform: none;
}

#stack .more-skills {
  font-family: "Poppins", sans-serif;
  color: #1e212b;
}

section#projects {
  border: 0.1px solid #1e212b;
}

#projects .card-title {
  color: #fd3e67;
  font-family: Comfortaa, serif;
  font-weight: bold;
}

#contact .form-container {
  border: 1px solid #ffe74c;
  border-radius: 21px;
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

#contact .form-container ::-webkit-input-placeholder {
  color: #645dd7;
}

#contact .form-container :-ms-input-placeholder {
  color: #645dd7;
}

#contact .form-container ::-ms-input-placeholder {
  color: #645dd7;
}

#contact .form-container ::placeholder {
  color: #645dd7;
}

#contact .form-container span.form-required {
  color: #fd3e67;
}

#contact .form-container input,
#contact .form-container select,
#contact .form-container textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #645dd7;
  /* Form Validation  */
  /* This class is added by JS upon invalid input */
}

#contact .form-container input .invalid,
#contact .form-container select .invalid,
#contact .form-container textarea .invalid {
  border-color: red;
}

#contact .form-container textarea {
  border-bottom: 2px solid #645dd7;
}

#contact .form-container button[type="submit"] {
  width: 70%;
  margin-top: 2rem;
}

#contact .form-container .pageclip-form__submit::after {
  border-color: #fd3e67;
  border-left-color: #645dd7;
}

.socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c3d2d5;
}

.socials-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.socials-container .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 33px;
  padding: 8px;
  width: 28px;
  height: 25px;
  margin-bottom: 2rem;
}

.socials-container .social-container img {
  width: 15px;
  height: 11px;
}

footer {
  font-family: Poppins, serif;
}

footer .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 25px;
  background-color: unset;
}

@media only screen and (min-width: 768px) {
  .hero-area-container {
    background-image: url("../img/undraw_Maintenance_re_59vn.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 70vh;
    max-width: 720px;
  }
  .hero-text {
    font-weight: bold;
    font-size: 4rem;
  }
  .greetings {
    font-size: 2rem;
  }
  .about-me-summary {
    width: 65%;
  }
}

@media only screen and (min-width: 992px) {
  .hero-area-container {
    max-width: 960px;
  }
  #contact .form-container {
    width: 50%;
  }
  #contact .socials-container {
    width: 50%;
  }
  #contact .container:first-child {
    background-image: url("../img/undraw_delivery_address_03n0.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-area-container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .hero-area-container {
    max-width: 1320px;
  }
}
/*# sourceMappingURL=style.css.map */