$site-red: #fd3e67;
$site-blue: #645dd7;
$site-bg-grey: #c3d2d5;
$site-black: #1e212b;
$site-yellow: #ffe74c;
$white: white;
:root {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.color-black {
    color: $site-black;
}

.color-red {
    color: $site-red;
}

.color-blue {
    color: $site-red;
}

.color-white {
    color: white;
}

.background-black {
    background-color: $site-black;
}

.background-grey {
    background-color: $site-bg-grey;
}

body {
    color: $site-black;
    font-family: "poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $site-bg-grey;
}

nav {
    .branding {
        color: $site-red;
    }
}

main {
    .hero-area-container {
        min-height: 75vh;
        background-color: $site-black;
        .hero-area {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            min-height: inherit;
            justify-content: space-around;
            align-items: flex-start;
            border: $site-yellow 2px solid;
            .greetings {
                color: $white;
                text-transform: uppercase;
                border: white 1px solid;
            }
            .hero-text {
                color: $site-yellow;
                text-transform: uppercase;
                font-family: Comfortaa, sans-serif;
                font-weight: lighter;
                font-size: 21px;
                border: white 1px solid;
            }
            .about-me-summary {
                font-family: Ubuntu, serif;
                font-size: 12px;
                border: white 1px solid;
            }
        }
    }
}

.fadeblacktogrey {
    //  TODO: Add linear gradient black -> grey
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: $site-red;
}

.fadegreytoblack {
    //  TODO: Add linear gradient grey -> black
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: $site-red;
}

.section-title {
    margin-top: 2rem;
    color: $site-red;
    font-family: Comfortaa, serif;
    font-size: 25px;
}

.section-sub-title {
    color: $site-blue;
    font-size: 1rem;
}

#skills {
    .cards-container {
        display: flex;
        .card {
            height: 94px;
            width: 87px;
            display: flex;
            padding: 0;
            border: 0.5px solid $site-yellow;
            img {
                max-height: 68px;
                max-width: 60px;
            }
        }
    }
    .ml-skills-container {
        .card {
            max-width: 255px;
            max-height: 94px;
            height: 94px;
            border: $site-yellow 1px solid;
            border-radius: 5px;
            display: flex;
            .card-body {
                height: inherit;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                    color: $site-blue;
                    font-family: Comfortaa, serif;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
    .more-skills {
        font-family: Poppins, serif;
        font-size: 0.8rem;
    }
}